<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Explore | travelaholic</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
        <link rel="stylesheet" href="./assets/css/style.css">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <nav>
            <h1>travelaholic</h1>
            <div class="burger-section">
                <div class="burger">
                <div class="line line1"></div>
                <div class="line line2"></div>
                <div class="line line3"></div>
            </div>
                <div class="popup hide">
                    <a href="./plan.html">Plan</a>
                    <a href="#">Explore</a>
                    <a href="./account.html">Account</a>
                    <a href="./contact.html">Contact</a>
                </div>
            </div>
        </nav>        
        <section class="hero-section explore-hero">
            <div class="hero-header">
                <h1>01</h1>
                <h3>Random Place Here</h3>
                <h4>Location Here</h4>
            </div>
            <div class="button-section">
                <button><i class="fas fa-angle-left"></i></button>
                <button><i class="fas fa-angle-right"></i></button>
            </div>
        </section>
        <section class="popular-section explore-popular">            
            <div class="explore-header-section">
                <h1>Section Header</h1>
                <div class="button-section">
                    <button><i class="fas fa-angle-left"></i></button>
                    <button><i class="fas fa-angle-right"></i></button>
                </div>
            </div>
            <div class="category-card-section card-section">
                <a href="#"><div class="card">
                    <div class="details">
                        <h1>Text</h1>
                        <p>Lorem, ipsum dolor.</p>
                    </div>
                </div></a>
                <a href="#"><div class="card">
                    <div class="details">
                        <h1>Text</h1>
                        <p>Lorem, ipsum dolor.</p>
                    </div>
                </div></a>
                <a href="#"><div class="card">
                    <div class="details">
                        <h1>Text</h1>
                        <p>Lorem, ipsum dolor.</p>
                    </div>
                </div></a>
                <a href="#"><div class="card">
                    <div class="details">
                        <h1>Text</h1>
                        <p>Lorem, ipsum dolor.</p>
                    </div>
                </div></a>
                <a href="#"><div class="card">
                    <div class="details">
                        <h1>Text</h1>
                        <p>Lorem, ipsum dolor.</p>
                    </div>
                </div></a>
                <a href="#"><div class="card">
                    <div class="details">
                        <h1>Text</h1>
                        <p>Lorem, ipsum dolor.</p>
                    </div>
                </div></a>                
            </div>
        </section>
        <section class="explore-country">
            <h1>Countries</h1>
            <div class="small-card-section">
               <div class="small-card">
                <div class="card-image"></div>
                <div class="details">
                    <h1>Country Name</h1>
                    <h3>Flight Price</h3>
                </div>
               </div>
               <div class="small-card">
                <div class="card-image"></div>
                <div class="details">
                    <h1>Country Name</h1>
                    <h3>Flight Price</h3>
                </div>
               </div>
               <div class="small-card">
                <div class="card-image"></div>
                <div class="details">
                    <h1>Country Name</h1>
                    <h3>Flight Price</h3>
                </div>
               </div>
               <div class="small-card">
                <div class="card-image"></div>
                <div class="details">
                    <h1>Country Name</h1>
                    <h3>Flight Price</h3>
                </div>
               </div>
               <div class="small-card">
                <div class="card-image"></div>
                <div class="details">
                    <h1>Country Name</h1>
                    <h3>Flight Price</h3>
                </div>
               </div>
               <div class="small-card">
                <div class="card-image"></div>
                <div class="details">
                    <h1>Country Name</h1>
                    <h3>Flight Price</h3>
                </div>
               </div>
            </div>
        </section>
        <footer>
            <section>
                <h1>Footer Header</h1>
                <a href="#">Footer Link</a>
                <a href="#">Footer Link</a>
                <a href="#">Footer Link</a>
            </section>
            <section>
                <h1>Footer Header</h1>
                <a href="#">Footer Link</a>
                <a href="#">Footer Link</a>
                <a href="#">Footer Link</a>
            </section>
            <section>
                <h1>Footer Header</h1>
                <a href="#">Footer Link</a>
                <a href="#">Footer Link</a>
                <a href="#">Footer Link</a>
            </section>
        </footer>
        <script src="./assets/js/animate.js"></script>
    </body>
</html>