<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Plan | travelaholic</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
        <link rel="stylesheet" href="./assets/css/style.css" type="text/css">
    </head>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <nav>
            <h1>travelaholic</h1>
            <div class="burger-section">
                <div class="burger">
                <div class="line line1"></div>
                <div class="line line2"></div>
                <div class="line line3"></div>
            </div>
                <div class="popup hide">
                    <a href="#">Plan</a>
                    <a href="./explore.html">Explore</a>
                    <a href="./account.html">Account</a>
                    <a href="./contact.html">Contact</a>
                </div>
            </div>
        </nav>  
        <h1 class="account-header">Plan</h1>
        <h3 class="account-subheader">What would you prefer to do?</h3>
        <section class="account-section">
            <div class="choose-place">
                <div class="card" data-value="URBAN">
                    <div class="details">
                        <h1>Shopping in Paris</h1>
                    </div>
                </div>
                <div class="card" data-value="BEACH">
                    <div class="details">
                        <h1>Diving in Maldives</h1>
                    </div>
                </div>
                <div class="card" data-value="MOUNTAIN">
                    <div class="details">
                        <h1>Hiking Mount Fuji</h1>
                    </div>
                </div>
                <div class="card" data-value="SPIRITUAL">
                    <div class="details">
                        <h1>Visit Monasteries in the Himalayas</h1>
                    </div>
                </div>
            </div>
        </section>
        <h3 class="account-subheader">Where would you like to go?</h3>
        <section class="account-section">
            <div class="choose-country">
                <div class="card" data-value="ITALY">
                    <div class="details">
                        <h1>Italy</h1>
                    </div>
                </div>
                <div class="card" data-value="JAPAN">
                    <div class="details">
                        <h1>Japan</h1>
                    </div>
                </div>
                <div class="card" data-value="MALDIVES">
                    <div class="details">
                        <h1>Maldives</h1>
                    </div>
                </div>
                <div class="card" data-value="AUSTRALIA">
                    <div class="details">
                        <h1>Australia</h1>
                    </div>
                </div>
            </div>
        </section>
        <h3 class="account-subheader">Which city would you prefer?</h3>
        <section class="account-section">
            <div class="choose-city">
                <div class="card" data-value="CITY1">
                    <div class="details">
                        <h1>City 1</h1>
                        <h3>Flight starts from $99</h3>
                    </div>
                </div>
                <div class="card" data-value="CITY2">
                    <div class="details">
                        <h1>City 2</h1>
                        <h3>Flight starts from $99</h3>
                    </div>
                </div>
                <div class="card" data-value="CITY3">
                    <div class="details">
                        <h1>City 3</h1>
                        <h3>Flight starts from $99</h3>
                    </div>
                </div>
                <div class="card" data-value="CITY4">
                    <div class="details">
                        <h1>City 4</h1>
                        <h3>Flight starts from $99</h3>
                    </div>
                </div>
            </div>
            <div class="security-section accept-section">
                <a href="./city.html"><button>Confirm</button></a>
            </div>
        </section>
        <script src="./assets/js/animate.js" async defer></script>
        <script src="./assets/js/plan.js" async defer></script>
    </body>
</html>